# data file + img  <- due to Copyright
*.csv
*.jpg
*.jpeg
*.png  
*.svg
/study/GPU
/study/anaconda_projects
*.dot
*.pkl

# macOS  
.DS_Store

# Jupyter Notebook  
.ipynb_checkpoints/ 

# Windows  
Thumbs.db
ehthumbs.db  
